@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@300&family=Nanum+Gothic&display=swap");

.head {
  background-color: var(--primary-color);
  color: white;
}

.head-wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 20px;
}

.left {
  display: flex;
  width: 58%;
  justify-content: space-between;
}

.left h1 {
  font-size: 15px;
  letter-spacing: 1.5px;
  align-self: center;
}

.left span {
  font-family: "Gluten", cursive;
  font-size: 26px;
  letter-spacing: 2px;
}

.for-search {
  width: 72%;
  position: relative;
}
.search {
  padding: 10px 16px;
  width: 100%;
  background-color: rgb(255 255 255 / 20%);
  border: none;
  outline: none;
  color: white;
}
.search::placeholder {
  color: #c8ecff;
}

.fas {
  position: absolute;
  right: 24px;
  top: 10px;
  color: #c8ecff;
}

.request {
  padding: 12px 20px;
  background-color: transparent;
  border: 1px solid #cfcfcf;
  color: white;
  border-radius: 7px;
  margin-right: 22px;
}

.request:hover {
  background-color: white;
  color: black;
  transition: ease-in-out 0.4s;
  cursor: pointer;
}

.shipment {
  padding: 13px 31px;
  background-color: #5cc781;
  color: white;
  border: none;
  border-radius: 5px;
}

.shipment:hover {
  background-color: #3b8053;
  cursor: pointer;
  transition: ease-in-out 0.4s;
}

.book {
  background-color: greenyellow;
  color: white;

}

/* @media only screen and (max-width: 992px) {
  .container {
    padding: 1.5rem 3rem;
  }
} */
